<launch>
	<!-- <include file="$(find racecar)/launch/teleop.launch"/> -->

	<include file="$(find particle_filter)/launch/localize.launch"/>

	<include file="$(find ta_lab6)/launch/follow_trajectory.launch"/>

	<include file="$(find ta_lab6)/launch/waypoint_control.launch"/>

	<node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
	<param name="robot_description" command="$(find xacro)/xacro $(find ta_lab6)/urdf/wecar.xacro"/>

	<node pkg="rviz" type="rviz" name="rviz"
		args="-d $(find wecar)/rviz/default.rviz"/>

	

</launch>
